@media screen and (min-width: 1025px) {
    .maindiv {
        display: flex;
        justify-content: space-evenly;
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    #menu {
        display: none;
    }

    #searchLabel {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding: 1rem;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        border: none;
        border-radius: 6px;
    }

    .home-grid {
        grid-template-columns: 2fr 1fr 1fr;
    }

    #spotlight-container {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .home-sections {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
        align-items: stretch;
    }

    .spotlight-content {
        display: flex;
        align-items: flex-start;
        margin-top: 1rem;
    }

    .spotlight-image img {
        max-width: 150px;
        height: auto;
        margin-right: 1.5rem;
        border-radius: 4px;
    }

    .spotlight-info {
        flex: 1;
    }

    .join-main {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

    #joinh1 {
        grid-column: 1/3;
    }

    /* FOR DISCOVER HTML PAGE FILES */

    .discover-grid {

        display: grid;

        grid-template-columns:
            1fr 1fr 1fr;

        grid-template-areas:

            "card1 card1 card2"
            "card3 card4 card2"
            "card5 card6 card7"
            "card8 card8 card7";

        gap: 1.5rem;
    }

    .discover-grid article:nth-child(1) {
        grid-area: card1;
    }

    .discover-grid article:nth-child(2) {
        grid-area: card2;
    }

    .discover-grid article:nth-child(3) {
        grid-area: card3;
    }

    .discover-grid article:nth-child(4) {
        grid-area: card4;
    }

    .discover-grid article:nth-child(5) {
        grid-area: card5;
    }

    .discover-grid article:nth-child(6) {
        grid-area: card6;
    }

    .discover-grid article:nth-child(7) {
        grid-area: card7;
    }

    .discover-grid article:nth-child(8) {
        grid-area: card8;
    }

    .discover-grid img {
        transition: all .4s ease;
    }

    .discover-grid img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
    }


}