@media screen and (min-width:641px) {

    .discover-grid {

        display: grid;

        grid-template-columns: 1fr 1fr;

        grid-template-areas:

            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";

        gap: 1.5rem;
    }

    .discover-grid article:nth-child(1) {
        grid-area: card1;
    }

    .discover-grid article:nth-child(2) {
        grid-area: card2;
    }

    .discover-grid article:nth-child(3) {
        grid-area: card3;
    }

    .discover-grid article:nth-child(4) {
        grid-area: card4;
    }

    .discover-grid article:nth-child(5) {
        grid-area: card5;
    }

    .discover-grid article:nth-child(6) {
        grid-area: card6;
    }

    .discover-grid article:nth-child(7) {
        grid-area: card7;
    }

    .discover-grid article:nth-child(8) {
        grid-area: card8;
    }

}